/*
#nombreDelClub{
    padding-top: 30px;
}
*/

.jumbotron{
    margin-bottom: 0;
    padding-top: 60px;
    background-color: white;
}

.navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

#col-1-jumbotron{
    padding-left: 50px;
    font-family: Vegur, 'PT Sans', Verdana, Sans-serif;

}
#col-2-jumbotron{
    padding-left: 30px;
}

#col-3-jumbotron{
    padding-right: 50px;
}

footer {
    margin-top: 50px;
      color: white;
      padding: 15px;
    }

#cabeceraTablaSocios th{
    color:brown;
}

#cabeceraTablaSocios > tr> th:nth-last-child(2){
    color:blue;
    text-align: center;
}

#cabeceraTablaSocios > tr> th:nth-last-child(1){
    color:blue;
    text-align: center;
}

#tbody-tabla-socios{
    background-color:  #f5fdfc;
}

#tablaSocios > td:nth-child(1){
    font-weight: bold;
}

#tablaSocios > td:nth-last-child(2){
    text-align:center;
}

#tablaSocios > td:nth-last-child(1){
    text-align: center;
}

#btn-nuevo-socio{
    margin-top: 8px;
    margin-left: 300px;
}

